
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
env/
.venv/

# Django
*.log
local_settings.py
media/
staticfiles/
static/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
